
@import "menu.css";
@import "home.css";


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --vermelho: #EF0909;
    --branco: #fff;
}